local_backend: true

backend:
  name: git-gateway
  branch: __BRANCH__

publish_mode: editorial_workflow
media_folder: static/media/uploads
public_folder: /media/uploads

collections:
  - name: posts
    label: Posts
    folder: content/posts
    create: true
    editor:
      preview: true
      notes: true
    fields: [
      {name: title, widget: string},
      {name: description, widget: text, required: false},
      {name: image, widget: image, required: false},
      {name: body, widget: markdown, required: false},
    ]
