local_backend: true

backend:
  name: git-gateway
  branch: __BRANCH__
  squash_merges: true

publish_mode: editorial_workflow
display_url: https://hugo-template.netlify.app/
logo_url: /media/brand/logo.svg
media_folder: static/media/uploads
public_folder: /media/uploads

slug:
  encoding: ascii
  clean_accents: true

i18n:
  structure: multiple_files
  locales: [en, de, si]

aliases:
  - &VISIBLE_IN_CMS {name: visibleInCMS, widget: hidden, default: true, i18n: duplicate}

collections:
  - name: properties
    label: Property groups
    label_singular: property group
    format: yaml-frontmatter
    folder: content/properties
    path: '{{slug}}/_index'
    create: true
    i18n: true
    description: Property landing pages
    editor:
      preview: false
    filter: {field: visibleInCMS, value: true}
    fields: [
      {name: title, widget: string},
      {name: description, widget: text},
      {name: image, widget: image},
      {name: body, widget: markdown},
      *VISIBLE_IN_CMS,
    ]

  - name: posts
    label: Posts
    label_singular: post
    folder: content/posts
    create: true
    slug: "{{slug}}"
    i18n: true
    # This is hack to remove index.md from the list. Add visibleInCMS: true to all content files except index pages.
    filter: {field: visibleInCMS, value: true}
    # Enable this for a prewiew on the right when editing. You will have to create a preview template for it to make sense.
    editor:
      preview: false
      notes: true

    # more about widgets: https://www.netlifycms.org/docs/widgets/
    fields: [
      {name: title, widget: string, i18n: true},
      {name: properties, widget: relation, collection: properties, search_fields: ["title"], display_fields: ["title", "destination", "brand"], value_field: "{{slug}}", multiple: true, required: false},
      {name: description, widget: text, i18n: true},
      {name: image, widget: image, i18n: duplicate},
      {name: body, widget: markdown, i18n: true},
      *VISIBLE_IN_CMS,
    ]

  - name: general
    label: General
    editor:
      preview: false
    files:
    - label: Site settings
      name: site-settings
      file: config.toml
      fields: [
        {name: title, widget: string},
        {label: Google Analytics ID, name: googleAnalytics, widget: string, required: false},
        {name: params, widget: object, fields: [
          {name: description, widget: text},
          {name: image, widget: image},
        ]},
      ]
    - label: Cookies
      name: cookies
      file: data/cookies.json
      fields: [
        {name: text, widget: string},
        {name: confirm, widget: string},
        {name: more, widget: object, fields: [
          {name: text, widget: string},
          {name: href, widget: string},
        ]},
      ]
    - label: Footer
      name: footer
      file: data/footer.json
      fields: [
        {name: copyright, widget: string}
      ]
